<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Investimentos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div> -->
</nav>

<main role="main" class="container">

  <div class="starter-template">

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th scope="col">Nome</th>
          <th scope="col">Objetivo</th>
          <th scope="col">Saldo Total Disponível</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of investimentos;let i = index;" (click)="open(modalInvestimentoDetalhe, item, i)"
            [ngClass]="{'disable-row': item.indicadorCarencia == 'S'}">
            <td>{{ item.nome }}</td>
            <td>{{ item.objetivo }}</td>
            <td>{{ item.saldoTotalDisponivel | currency:'R$' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</main><!-- /.container -->


<ng-template #modalInvestimentoDetalhe let-modal>
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Resgate</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row form-group">
        <div class="col-sm-4">
          <span>Nome:</span>
          <div>
            <strong>{{ investimento.nome }}</strong>
          </div>
        </div>

        <div class="col-sm-4">
          <span>Saldo total disponível:</span>
          <div>
            <strong>{{ investimento.saldoTotalDisponivel | currency:'R$' }}</strong>
          </div>
        </div>

        <div class="col-sm-4">
          <span>Saldo total a resgatar:</span>
          <div>
            <strong>{{ investimento.totalResgate | currency:'R$' }}</strong>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <th width="25%">Ação</th>
            <th width="30%">Saldo Acumulado</th>
            <th width="45%">Valor a resgatar</th>
          </thead>
          <tbody>
            <tr *ngFor="let action of investimento.acoes;let i = index;">
              <td>{{ action.nome }}</td>
              <td>{{ action.percentual * (investimento.saldoTotalDisponivel/100) | currency: 'R$' }}</td>
              <td>
                <input type="tel" currencyMask class="form-control" name="valorResgate{{i}}"
                  [(ngModel)]="action.valorResgate" (keyup)="calcTotalResgate()"
                  [ngClass]="{'is-invalid': getErrors(form, i, action)}" />
                <span *ngIf="getErrors(form, i, action)" class="text-danger">O limite disponível e {{action.percentual *
                  (investimento.saldoTotalDisponivel/100) | currency:'R$'}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-sm btn-primary">Confirmar resgate</button>
    </div>
  </form>

</ng-template>
